<div class="solicitar-container">
  <h2>Solicitar turno</h2>

  <!--  especialidad -->
  <div *ngIf="!especialidadSeleccionada">
    <h3>Seleccione una especialidad</h3>
    <div class="grid">
      <button *ngFor="let esp of especialidades" (click)="seleccionarEspecialidad(esp)">
        {{ esp }}
      </button>
    </div>
  </div>

  <!--  especialista -->
  <div *ngIf="especialidadSeleccionada && !especialistaSeleccionado">
    <h3>Especialistas en {{ especialidadSeleccionada }}</h3>
    <div class="grid">
      <button *ngFor="let e of especialistas" (click)="seleccionarEspecialista(e)">
        <img [src]="e.imagen1" alt="Foto">
        <span>{{ e.nombre }} {{ e.apellido }}</span>
      </button>
    </div>
  </div>

  <!-- fecha  (solo si hay especialista seleccionado) -->
  <div *ngIf="especialistaSeleccionado" class="seleccion-turno">
    <h3>Seleccione un día</h3>
    <div class="dias-grid">
      <button *ngFor="let d of diasDisponibles" (click)="seleccionarDia(d)" 
              [class.activo]="d === diaSeleccionado">
        {{ d | diaEs  }}
      </button>
    </div>

    <div *ngIf="diaSeleccionado">
      <h3>Seleccione un horario</h3>
      <div class="horas-grid">
        <button *ngFor="let h of horariosDisponibles" 
                (click)="seleccionarHora(h)" 
                [class.activo]="h === horaSeleccionada">
          {{ h }}
        </button>
      </div>
    </div>

    <button *ngIf="horaSeleccionada" class="btn-confirmar" (click)="confirmarTurno()">
      Confirmar turno
    </button>
  </div>
</div>