<div class="solicitar-container">
  <h2>Solicitar turno</h2>

   <div *ngIf="esAdmin" class="bloque-paciente">
    <h3>Seleccione un paciente</h3>
    <select
      [(ngModel)]="pacienteSeleccionado"
      [ngModelOptions]="{ standalone: true }"
    >
      <option [ngValue]="null" disabled>Elija un paciente...</option>
      <option *ngFor="let p of pacientes" [ngValue]="p">
        {{ p.apellido }}, {{ p.nombre }} - DNI: {{ p.dni }}
      </option>
    </select>
  </div>

  <!--  Seleccionar profesional -->
  <div *ngIf="!especialistaSeleccionado">
    <h3>Seleccione un profesional</h3>
    <div class="grid">
      <button *ngFor="let e of especialistas" (click)="seleccionarEspecialista(e)">
        <img [src]="e.imagen1 || 'assets/imgs/default-user.png'" alt="Foto del profesional" />
        <span>{{ e.nombre }} {{ e.apellido }}</span>
      </button>
    </div>
  </div>

  <!--  Seleccionar especialidad -->
  <div *ngIf="especialistaSeleccionado && !especialidadSeleccionada">
    <h3>Especialidades de {{ especialistaSeleccionado.nombre }}</h3>
    <div class="grid-especialidades">
      <button *ngFor="let esp of especialidadesDelProfesional" (click)="seleccionarEspecialidad(esp)">
         <img [src]="obtenerIconoEspecialidad(esp)" alt="Especialidad" />
        <span>{{ esp }}</span>
      </button>
    </div>
  </div>

  <!--  Seleccionar día y horario -->
  <div *ngIf="especialidadSeleccionada" class="seleccion-turno">
    <h3>Seleccione un día</h3>
    <div class="dias-grid">
      <button *ngFor="let d of diasDisponibles"
              (click)="seleccionarDia(d)"
              [class.activo]="d === diaSeleccionado">
        {{ d | diaEs }}
      </button>
    </div>

    <div *ngIf="diaSeleccionado">
      <h3>Seleccione un horario</h3>
      <div class="horas-grid">
        <button *ngFor="let h of horariosDisponibles"
                (click)="!horasOcupadas.includes(h) && seleccionarHora(h)"
          [class.activo]="h === horaSeleccionada"
          [disabled]="horasOcupadas.includes(h)"
          [class.ocupado]="horasOcupadas.includes(h)">
    {{ h }}
    <span *ngIf="horasOcupadas.includes(h)"><br> (Ocupado)</span>
        </button>
      </div>
    </div>

    <button *ngIf="horaSeleccionada" class="btn-confirmar" (click)="confirmarTurno()" [disabled]="esAdmin && !pacienteSeleccionado">
      Confirmar turno
    </button>
  </div>
</div>
