<div class="register-container">
  <div class="register-card">

    <h1 class="title"> Clínica Online</h1>
    <h3 class="subtitle" *ngIf="!rolSeleccionado">Seleccione su tipo de usuario</h3>

    
    <div class="seleccion-rol" *ngIf="!rolSeleccionado">
      <button (click)="seleccionarRol('paciente')" class="rol-btn">
        <img src="usuarios/user.svg" alt="Paciente" />
        <span>Paciente</span>
      </button>

      <button (click)="seleccionarRol('especialista')" class="rol-btn">
        <img src="usuarios/especialista.svg" alt="Especialista" />
        <span>Especialista</span>
      </button>

      <p class="volver" (click)="goToLogin()">Volver al login</p>
    </div>

    
    <form *ngIf="rolSeleccionado" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <h3 class="subtitle">Registro de {{ rolSeleccionado | titlecase }}</h3>

   
      <div class="form-group" *ngFor="let campo of camposComunes">
        <label>{{ campo.label }}</label>
        <input [type]="campo.type" [formControlName]="campo.control" [placeholder]="campo.placeholder" />
      </div>

     
      <ng-container *ngIf="rolSeleccionado === 'paciente'">
        <div class="form-group">
          <label>Obra Social</label>
          <input formControlName="obraSocial" placeholder="Ej: Swiss Medical" />
        </div>
        <div class="form-group">
          <label>Imagen de perfil 1</label>
          <input type="file" (change)="onFileChange($event, 1)" />
        </div>
        <div class="form-group">
          <label>Imagen de perfil 2</label>
          <input type="file" (change)="onFileChange($event, 2)" />
        </div>
      </ng-container>

     
      <ng-container *ngIf="rolSeleccionado === 'especialista'">
        <div class="form-group">
          <label>Especialidad</label>
          <select formControlName="especialidad">
           
            <option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</option>
            <option value="otra">Otra...</option>
          </select>
        </div>

        <div class="form-group" *ngIf="registerForm.get('especialidad')?.value === 'otra'">
            <label>Agregar nueva especialidad</label>
            <input
            type="text"
            formControlName="nuevaEspecialidad"
            placeholder="Ingrese la nueva especialidad"
            />
        </div>

        <div class="form-group">
          <label>Imagen de perfil</label>
          <input type="file" (change)="onFileChange($event, 1)" />
        </div>
      </ng-container>

      <div class="botones-form">
        <button type="submit" [disabled]="registerForm.invalid" class="btn-register">
          Registrarse
        </button>
        <button type="button" class="btn-volver" (click)="cancelarRol()">Volver</button>
      </div>
    </form>

  </div>
</div>
