<div class="register-container">
  <div class="register-card">

    
    <h3 class="subtitle" *ngIf="!rolSeleccionado"></h3>


    <div class="seleccion-rol" *ngIf="!rolSeleccionado">
      <div class="roles">
        <button (click)="seleccionarRol('paciente')" class="rol-btn">
          <img src="usuarios/user.svg" alt="Paciente" />
        </button>
        <button (click)="seleccionarRol('especialista')" class="rol-btn">
          <img src="usuarios/especialista.svg" alt="Especialista" />
        </button>
      </div>

      

      
    </div>

    <form *ngIf="rolSeleccionado" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <h3 class="subtitle">Registro de {{ rolSeleccionado | titlecase }}</h3>

      <div class="form-grid">
      <div class="form-group" *ngFor="let campo of camposComunes">
        <label>{{ campo.label }}</label>
        <input [type]="campo.type" [formControlName]="campo.control" [placeholder]="campo.placeholder" />
        <small
      *ngIf="
        registerForm.get(campo.control)?.hasError('required') &&
        registerForm.get(campo.control)?.touched
      "
    >
      Este campo es obligatorio
    </small>
     <small
      *ngIf="
        campo.control === 'edad' &&
        registerForm.get('edad')?.hasError('min') &&
        rolSeleccionado === 'especialista'
      "
    >
      Debe tener al menos 18 años 
    </small>
      </div>
      </div>

      <ng-container *ngIf="rolSeleccionado === 'paciente'">
        <div class="form-group">
          <label>Obra Social</label>
          <input formControlName="obraSocial" placeholder="Ej: Swiss Medical" />
        </div>
        <div class="form-group">
          <label>Imagen de perfil 1</label>
          
           <input type="file" accept="image/*" (change)="onFileChange($event, 1)" />
            <img *ngIf="imagenesPreview[0]" [src]="imagenesPreview[0]" class="preview-img" />
        </div>
        <div class="form-group">
          <label>Imagen de perfil 2</label>
          <input type="file" accept="image/*" (change)="onFileChange($event, 2)" />
            <img *ngIf="imagenesPreview[1]" [src]="imagenesPreview[1]" class="preview-img" />
        </div>
      </ng-container>

      <ng-container *ngIf="rolSeleccionado === 'especialista'">
        <div class="form-group">
          <label>Especialidad</label>
          <select formControlName="especialidad">
            <option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</option>
            <option value="otra">Otra...</option>
          </select>
        </div>

        <div class="form-group" *ngIf="registerForm.get('especialidad')?.value === 'otra'">
          <label>Agregar nueva especialidad</label>
          <input type="text" formControlName="nuevaEspecialidad" placeholder="Ingrese la nueva especialidad" />
        </div>

        <div class="form-group">
          <label>Imagen de perfil</label>
          <input type="file" accept="image/*" (change)="onFileChange($event, 1)" />
            <img *ngIf="imagenesPreview[0]" [src]="imagenesPreview[0]" class="preview-img" />
        </div>
      </ng-container>

     <div class="form-group captcha-container">
        <re-captcha
            [siteKey]="siteKey"
            (resolved)="onCaptchaResolved($event)">
        </re-captcha>

        <small *ngIf="!registerForm.get('recaptcha')?.value && registerForm.touched">
            Debe completar el reCAPTCHA
        </small>
    </div>


      <div class="botones-form">
        <button type="submit" [disabled]="!puedeRegistrarse()" class="btn-register">
          Registrarse
        </button>
        <button type="button" class="btn-volver" (click)="cancelarRol()">Volver</button>
      </div>
    </form>

  </div>
</div>
