body {
  background-image: url('/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.register-container {
   min-height: 100vh;
  background-image: url('/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 80, 160, 0.15);
  padding: 2.5rem;
  width: 440px;
  text-align: center;
  position: relative;
}

.title {
  color: #004080;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #007acc;
  margin-bottom: 1.5rem;
  font-weight: 500;
}


.seleccion-rol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  .roles {
    display: flex;
    justify-content: center;
    gap: 3rem;

    .rol-btn {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid #007acc;
      background-color: #f5f9ff;
      box-shadow: 0 4px 8px rgba(0, 122, 204, 0.2);
      cursor: pointer;
      transition: all 0.3s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: scale(1.08);
        border-color: #004080;
        box-shadow: 0 0 15px rgba(0, 64, 128, 0.4);
      }
    }
  }

  .roles-nombres {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    span {
      font-weight: 600;
      color: #004080;
      margin-top: 0.5rem;
    }
  }

  .volver {
    color: #007acc;
    margin-top: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      color: #004080;
    }
  }
}


.form-group {
  text-align: left;
  margin-bottom: 1.3rem;

  label {
    display: block;
    font-weight: 600;
    color: #003366;
    margin-bottom: 0.4rem;
  }

  input,
  select {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #b0c4de;
    border-radius: 8px;
    outline: none;
    transition: all 0.2s ease;

    &:focus {
      border-color: #007acc;
      box-shadow: 0 0 0 3px rgba(0, 122, 204, 0.2);
    }
  }
}


.btn-register {
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 48%;

  &:hover {
    background-color: #005fa3;
  }
}

.btn-volver {
  background-color: #ffffff;
  color: #007acc;
  border: 2px solid #007acc;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 48%;

  &:hover {
    background-color: #007acc;
    color: #ffffff;
  }
}

.botones-form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

