<div class="perfil-card">
  <img [src]="usuario?.imagen1 || 'assets/imgs/default-user.png'" alt="Foto de perfil" class="perfil-img" />

  <h2>{{ usuario?.nombre }} {{ usuario?.apellido }}</h2>

  <span
    class="rol-badge"
    [ngClass]="{
      paciente: rol === 'paciente',
      especialista: rol === 'especialista',
      admin: rol === 'admin'
    }"
  >
    {{ rol | titlecase }}
  </span>

  <p><strong>DNI:</strong> {{ usuario?.dni }}</p>
  <p><strong>Correo:</strong> {{ usuario?.mail }}</p>

  
  <p *ngIf="rol === 'paciente' && usuario?.obra_social">
    <strong>Obra Social:</strong> {{ usuario.obra_social }}
  </p>

  <div *ngIf="rol === 'paciente'" class="historia-clinica-accion">
  <button class="btn-historias" (click)="verHistoriaClinica()">
    Ver historia clínica
  </button>
</div>

  
  <p *ngIf="rol === 'especialista' && especialidades.length > 0">
  <strong>Especialidades:</strong> {{ especialidades.join(', ') }}
</p>
<p *ngIf="rol === 'especialista' && especialidades.length === 0">
  <strong>Especialidades:</strong> No configuradas
</p>

  
  <p *ngIf="rol === 'admin'">
    <strong>Rol:</strong> Administrador del sistema
  </p>

  <button class="btn-cerrar" (click)="volver()">
  <img src="svgs/salir.svg" alt="">
</button>
<!--
<div *ngIf="rol === 'especialista'" class="horarios-section">
  <button class="btn-horarios" (click)="abrirModalHorarios()">
    Configurar disponibilidad horaria
  </button>
</div>
-->
<!-- Modal -->

<div class="horarios-config-container" *ngIf="rol === 'especialista'">
  <h3>Disponibilidad horaria</h3>

  <div class="horario-row" *ngFor="let dia of diasSemana">
    <label class="dia-label">{{ dia }}</label>

    <label class="switch">
      <input type="checkbox" [(ngModel)]="disponibilidad[dia].disponible" />
      <span class="slider"></span>
    </label>

    <select [(ngModel)]="disponibilidad[dia].desde" 
            [disabled]="!disponibilidad[dia].disponible">
      <option value="">Desde</option>
      <option *ngFor="let h of horas" [value]="h">{{ h }}</option>
    </select>

    <select [(ngModel)]="disponibilidad[dia].hasta" 
            [disabled]="!disponibilidad[dia].disponible">
      <option value="">Hasta</option>
      <option *ngFor="let h of horas" [value]="h">{{ h }}</option>
    </select>

    
    <div class="rango-resumen"
         *ngIf="disponibilidad[dia].desde && disponibilidad[dia].hasta">
      Horario:
      <strong>{{ disponibilidad[dia].desde }}-</strong>
    
      <strong>{{ disponibilidad[dia].hasta }}</strong>
    </div>
  </div>

  <button class="btn-guardar" (click)="guardarHorarios()">
    Guardar disponibilidad
  </button>
</div>




</div>

<app-historia-clinica
  *ngIf="mostrarHistoria"
  [paciente]="usuario"
  [historias]="historiasPaciente"
  [cerrar]="cerrarHistoriaClinica.bind(this)"
  [descargarPdf]="descargarPdfHistoria.bind(this)"
   [descargarPdfEspecialista]="generarPDFDeEspecialista.bind(this)"
    [descargarPdfCompleta]="descargarHistoriaCompleta.bind(this)"
     [descargarPdfPorEspecialidad]="descargarPdfPorEspecialidad.bind(this)"
     [habilitarFiltrosPorEspecialidad]="true">
</app-historia-clinica>