<div class="dashboard-container">
  
  <header class="dashboard-header">
    <div class="header-left">
      <h1>Bienvenido, {{ paciente?.nombre }}</h1>
      <p>Clínica Online - Portal del Paciente</p>
    </div>

   
    <button class="perfil-btn" (click)="perfil()">
      <img src="usuarios/user.svg" alt="Perfil" />
    </button>
  </header>

 
  <section class="contenido">
    <h2>Mis opciones</h2>

    <div class="opciones-grid">
      <button class="opcion" (click)="irA('solicitar')">
        <img src="svgs/turnos.svg" alt="Turnos" />
        <span>Solicitar Turno</span>
      </button>

      <button class="opcion" (click)="irA('turnos')">
        <img src="svgs/mis-turnos.svg" alt="Turnos" />
        <span>Mis Turnos</span>
      </button>

      <button class="opcion" >
        <img src="svgs/encuesta.svg" alt="Encuesta" />
        <span>Encuesta</span>
      </button>

      <button class="opcion" (click)="logout()">
        <img src="svgs/logout.svg" alt="Salir" />
        <span>Cerrar Sesión</span>
      </button>
    </div>

    <router-outlet></router-outlet>
  </section>
</div>