<div class="hc-overlay" *ngIf="historias.length">
  <div class="modal-historia">

    <button class="btn-cerrar" (click)="cerrar()">
      ✖
    </button>

    <h2>Historia clínica de {{ paciente.nombre }} {{ paciente.apellido }}</h2>

    <!-- PDF COMPLETA -->
    <button
      *ngIf="descargarPdfCompleta"
      class="btn-pdf-general"
      (click)="onClickPdfCompleta()">
      Descargar historia clínica completa
    </button>

    <!-- CHIPS DE ESPECIALIDADES -->
    <div class="especialidades-chips" *ngIf="habilitarFiltrosPorEspecialidad && especialidades.length">

      <!-- Chip "Todas" -->
      <button
        class="chip-especialidad"
        [class.activo]="!especialidadSeleccionada"
        (click)="resetEspecialidad()">
        Todas
      </button>

      <!-- Chips por especialidad -->
      <button
        *ngFor="let esp of especialidades"
        (click)="seleccionarEspecialidad(esp)"
        [class.activo]="esp === especialidadSeleccionada"
        class="chip-especialidad">
        {{ esp }}
      </button>
    </div>

    <!-- PDF POR ESPECIALIDAD -->
    <button
      *ngIf="habilitarFiltrosPorEspecialidad && descargarPdfPorEspecialidad && especialidadSeleccionada"
      class="btn-pdf-general"
      (click)="onPdfEspecialidad()">
      Descargar PDF por especialidad
    </button>

    <!-- HISTORIAS (FILTRADAS) -->
    <div class="historia-card" *ngFor="let h of historiasFiltradas">
      <div class="historia-header">
        <p><strong>Especialidad:</strong> {{ h.turno?.especialidad }}</p>

        <p>
          <strong>Especialista:</strong>
          {{ h.turno?.especialista?.nombre }} {{ h.turno?.especialista?.apellido }}
        </p>

        <p><strong>Paciente:</strong> {{ paciente?.nombre }} {{ paciente?.apellido }}</p>

        <p>
          <strong>Fecha:</strong>
          {{ h.turno?.fecha }} - {{ h.turno?.hora }}
        </p>

        <button *ngIf="habilitarFiltrosPorEspecialidad" class="btn-pdf-card" (click)="onClickPdf(h)">
          PDF
        </button>
      </div>
      <!--
      <div class="dato">
        <strong>Reseña:</strong> {{ h.resena }}
      </div>

    -->

      <div class="clinicos">
        <p><strong>Altura:</strong> {{ h.altura }} cm</p>
        <p><strong>Peso:</strong> {{ h.peso }} kg</p>
        <p><strong>Temperatura:</strong> {{ h.temperatura }} °C</p>
        <p><strong>Presión:</strong> {{ h.presion }}</p>
      </div>

      <div class="opcionales" *ngIf="h.dato_opcional_1?.clave">
        <h4>Datos adicionales</h4>

        <div class="fila" *ngIf="h.dato_opcional_1?.clave">
          <strong>{{ h.dato_opcional_1.clave }}:</strong> {{ h.dato_opcional_1.valor }}
        </div>
        <div class="fila" *ngIf="h.dato_opcional_2?.clave">
          <strong>{{ h.dato_opcional_2.clave }}:</strong> {{ h.dato_opcional_2.valor }}
        </div>
        <div class="fila" *ngIf="h.dato_opcional_3?.clave">
          <strong>{{ h.dato_opcional_3.clave }}:</strong> {{ h.dato_opcional_3.valor }}
        </div>
      </div>
    </div>
  </div>
</div>