.login-container {
  min-height: 100vh;
  background-image: url('/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 80, 160, 0.15);
  padding: 2.5rem;
  width: 460px;
  text-align: center;
}

.title {
  color: #004080;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #007acc;
  margin-bottom: 2rem;
  font-weight: 500;
}

.form-group {
  text-align: left;
  margin-bottom: 1.5rem;

  label {
    display: block;
    font-weight: 600;
    color: #003366;
    margin-bottom: 0.3rem;
  }

  input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #b0c4de;
    border-radius: 8px;
    outline: none;
    transition: all 0.2s ease;

    &:focus {
      border-color: #007acc;
      box-shadow: 0 0 0 3px rgba(0, 122, 204, 0.2);
    }
  }

  small {
    color: #cc0000;
    font-size: 0.8rem;
  }
}

.btn-login {
  width: 100%;
  padding: 0.8rem;
  background-color: #007acc;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: #005fa3;
  }

  &:disabled {
    background-color: #aaccee;
    cursor: not-allowed;
  }
}

.accesos-rapidos {
  margin-top: 2rem;

  p {
    color: #003366;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .botones-rapidos {
    display: flex;
    justify-content: center;
    gap: 1.2rem;

    .btn-acceso {
      width: 60px;
      height: 60px;
      background-color: #f2f8ff;
      border: 2px solid #007acc;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease;

      img {
        width: 30px;
        height: 30px;
      }

      &:hover {
        background-color: #007acc;
        
      }
    }
  }
}


.btn-register {
  width: 100%;
  margin-top: 0.8rem;
  padding: 0.75rem;
  background-color: #ffffff;
  color: #007acc;
  font-weight: bold;
  border: 2px solid #007acc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #007acc;
    color: #ffffff;
  }
}